/* /Components/Calculator.razor.rz.scp.css */
button:hover[b-mdavun5mzt] {
    opacity: 0.50;
}

.display-value[b-mdavun5mzt] {
    background-color: lightgray;
    font-size: 1.5rem;
    font-weight: bold;
}

.display-value-sm[b-mdavun5mzt] {
    background-color: lightgray;
}

.calculator-container[b-mdavun5mzt] {
    width: 300px;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 10px 10px;
}

.calculator-display[b-mdavun5mzt] {
    margin-left: 5px;
    margin-right: 5px;
}

    .calculator-display input[b-mdavun5mzt] {
        width: 100%;
        text-align: right;
        padding: 10px;
        font-size: 1.5rem;
        color: white;
        background-color: #212121;
    }

.calculator-display-sm[b-mdavun5mzt] {
    margin-left: 5px;
    margin-right: 5px;
    font-size: .50rem;
}

    .calculator-display-sm input[b-mdavun5mzt] {
        width: 100%;
        text-align: right;
        padding: 10px;
        font-size: 1rem;
        color: lightgray;
        background-color: #212121;
    }

.button-panel[b-mdavun5mzt] {
    display: flex;
}

    .button-panel button[b-mdavun5mzt] {
        flex: 1;
        padding: 20px;
        font-size: 1.5rem;
        margin: 5px;
        background-color: lightgray;
    }

        .button-panel button:hover[b-mdavun5mzt] {
            opacity: 0.50;
        }

.operator-panel[b-mdavun5mzt] {
    display: flex;
}

    .operator-panel button[b-mdavun5mzt] {
        flex: 1;
        padding: 20px;
        font-size: 1.5rem;
        margin: 5px;
        background-color: orange;
    }

.clear-button[b-mdavun5mzt] {
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    grid-column: 1 / 3;
}

.grid-contanier[b-mdavun5mzt] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(80px, 80px);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.num-btn[b-mdavun5mzt] {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: lightgray;
}

.fun-btn[b-mdavun5mzt] {
    font-weight: bold;
    background-color: orange;
    font-size: 1.5rem;
}

.main-container[b-mdavun5mzt] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* /Components/TaskList.razor.rz.scp.css */
.main-container[b-3pg0fhzm59] {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.content-container[b-3pg0fhzm59] {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    min-width: 50%;
    max-width: 90%;
    margin: 10px auto;
    box-shadow: 10px 10px;
    border: 2px solid lightgray;
}
/* /Components/TaxCalculator.razor.rz.scp.css */
.num-text-align input[b-14gaakrnin] {
    text-align: right;
}

.main-container[b-14gaakrnin] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-contanier[b-14gaakrnin] {
    box-shadow: 10px 10px;
    width: 50%;
    background-color: #212121;
    border: 2px solid lightgray;
}

.input-container[b-14gaakrnin] {
    height: auto;
    margin: 0 auto;
}

.center-content[b-14gaakrnin] {
    width: 100%;
    margin: 0 auto;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-reaiibyyry] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-reaiibyyry] {
    flex: 1;
}

.sidebar[b-reaiibyyry] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-reaiibyyry] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-reaiibyyry]  a, .top-row[b-reaiibyyry]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-reaiibyyry]  a:hover, .top-row[b-reaiibyyry]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-reaiibyyry]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-reaiibyyry] {
        justify-content: space-between;
    }

    .top-row[b-reaiibyyry]  a, .top-row[b-reaiibyyry]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-reaiibyyry] {
        flex-direction: row;
    }

    .sidebar[b-reaiibyyry] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-reaiibyyry] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-reaiibyyry]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-reaiibyyry], article[b-reaiibyyry] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-x7z0030cdj] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-x7z0030cdj] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-x7z0030cdj] {
    font-size: 1.1rem;
}

.bi[b-x7z0030cdj] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-x7z0030cdj] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-x7z0030cdj] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-x7z0030cdj] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-x7z0030cdj] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-x7z0030cdj] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-x7z0030cdj] {
        padding-bottom: 1rem;
    }

    .nav-item[b-x7z0030cdj]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-x7z0030cdj]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-x7z0030cdj]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-x7z0030cdj] {
        display: none;
    }

    .collapse[b-x7z0030cdj] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-x7z0030cdj] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Home.razor.rz.scp.css */
h1[b-tustf40y7f], h3[b-tustf40y7f], li[b-tustf40y7f] {
    color: whitesmoke;
}

ol[b-tustf40y7f] {
    list-style-type: none;
}

.text-anim[b-tustf40y7f] {
    color: gray;
    transition: all 0.3s ease;
}

    .text-anim:hover[b-tustf40y7f] {
        color: lightblue;
        transition: all 0.3s ease;
    }

.header-container[b-tustf40y7f] {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-name[b-tustf40y7f] {
    text-align: center;
    margin-bottom: 8px;
    font-size: 3em;
    font-weight: normal;
    color: white;
}

.title-name-large[b-tustf40y7f] {
    font-size: 5em;
}

.title-subtitle[b-tustf40y7f] {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: gray;
}

.body-text[b-tustf40y7f] {
    font-size: 1.2em;
    font-weight: normal;
    color: gray;
}

.body-container[b-tustf40y7f] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container[b-tustf40y7f] {
    display: flex;
    justify-content: center;
    align-items: end;
    vertical-align: bottom;
    width: 100%;
    margin-top: 10px;
}
/* /Pages/Playground.razor.rz.scp.css */
body[b-u4lww6gg84] {
}
/* /Pages/Project.razor.rz.scp.css */
.body-text-container[b-96kuozv9fe] {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;    
    vertical-align: bottom;
    padding-top: 8px;
}

.body-text[b-96kuozv9fe] {
    color: gray;
}

.main-container[b-96kuozv9fe] {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.default-card[b-96kuozv9fe] {
    background-color: whitesmoke;
    border: 1px solid #898989;
    box-shadow: 10px 10px;
    margin-top: 40px;
}

    .default-card:hover[b-96kuozv9fe] {
        cursor: pointer;
    }

.img-container[b-96kuozv9fe] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo[b-96kuozv9fe] {
    font-size: 2rem;
    text-align: center;
    vertical-align: central;
    color: orangered;
    margin-left: 10px;
}

.proj-content[b-96kuozv9fe] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 25%;
    padding: 8px;
}

.proj-img[b-96kuozv9fe] {
    width: 50%;
    height: 20%;
}

.text-container[b-96kuozv9fe] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffb5;
    height: 250px;
}

.text-container-title[b-96kuozv9fe] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: central;
}

.text-title[b-96kuozv9fe] {
    color: #080808;
    font-size: 3rem;
}

.header-container[b-96kuozv9fe] {
    width: 100%;
    height: 400px;
    padding-bottom: 30px;
    padding-top: 100px;
    /*background-image: url("/images/code.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);*/
}

.title-name[b-96kuozv9fe] {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    color: white;
}

.title-subtitle[b-96kuozv9fe] {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    color: gray;
}

.title-name-large[b-96kuozv9fe] {
    font-size: 6em;
}

.title-container[b-96kuozv9fe] {
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .proj-content[b-96kuozv9fe] {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 25%;
    }

    .proj-img[b-96kuozv9fe] {
        width: 100%;
        height: 300px;
    }
}
